@charset "UTF-8";
/******************************************
[reset]
******************************************/
*,
::before,
::after {
  position: relative;
  box-sizing: border-box; }

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; }

* {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

[hidden],
template {
  display: none; }

small {
  font-size: 80%; }

ul, ol {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

b, strong {
  font-weight: 600; }

img {
  border-style: none; }

input,
button,
textarea,
select {
  outline: 0;
  border: 0px;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none; }

input,
button,
textarea,
select,
optgroup {
  font: inherit; }

[disabled] {
  cursor: default; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

input::-ms-clear {
  visibility: hidden; }

optgroup {
  font-weight: bold; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

textarea {
  overflow: auto; }

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer; }

button {
  background: none;
  overflow: visible; }

::-moz-selection,
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

/*spacing*/
.lh-1 {
  line-height: 1px !important; }

.mrt-1 {
  margin-top: 1px !important; }

.mrr-1 {
  margin-right: 1px !important; }

.mrl-1 {
  margin-left: 1px !important; }

.mrb-1 {
  margin-bottom: 1px !important; }

.pdt-1 {
  padding-top: 1px !important; }

.pdr-1 {
  padding-right: 1px !important; }

.pdb-1 {
  padding-left: 1px !important; }

.pdl-1 {
  padding-bottom: 1px !important; }

.lh-2 {
  line-height: 2px !important; }

.mrt-2 {
  margin-top: 2px !important; }

.mrr-2 {
  margin-right: 2px !important; }

.mrl-2 {
  margin-left: 2px !important; }

.mrb-2 {
  margin-bottom: 2px !important; }

.pdt-2 {
  padding-top: 2px !important; }

.pdr-2 {
  padding-right: 2px !important; }

.pdb-2 {
  padding-left: 2px !important; }

.pdl-2 {
  padding-bottom: 2px !important; }

.lh-3 {
  line-height: 3px !important; }

.mrt-3 {
  margin-top: 3px !important; }

.mrr-3 {
  margin-right: 3px !important; }

.mrl-3 {
  margin-left: 3px !important; }

.mrb-3 {
  margin-bottom: 3px !important; }

.pdt-3 {
  padding-top: 3px !important; }

.pdr-3 {
  padding-right: 3px !important; }

.pdb-3 {
  padding-left: 3px !important; }

.pdl-3 {
  padding-bottom: 3px !important; }

.lh-4 {
  line-height: 4px !important; }

.mrt-4 {
  margin-top: 4px !important; }

.mrr-4 {
  margin-right: 4px !important; }

.mrl-4 {
  margin-left: 4px !important; }

.mrb-4 {
  margin-bottom: 4px !important; }

.pdt-4 {
  padding-top: 4px !important; }

.pdr-4 {
  padding-right: 4px !important; }

.pdb-4 {
  padding-left: 4px !important; }

.pdl-4 {
  padding-bottom: 4px !important; }

.lh-5 {
  line-height: 5px !important; }

.mrt-5 {
  margin-top: 5px !important; }

.mrr-5 {
  margin-right: 5px !important; }

.mrl-5 {
  margin-left: 5px !important; }

.mrb-5 {
  margin-bottom: 5px !important; }

.pdt-5 {
  padding-top: 5px !important; }

.pdr-5 {
  padding-right: 5px !important; }

.pdb-5 {
  padding-left: 5px !important; }

.pdl-5 {
  padding-bottom: 5px !important; }

.lh-6 {
  line-height: 6px !important; }

.mt-6 {
  margin-top: 6px !important; }

.mr-6 {
  margin-right: 6px !important; }

.ml-6 {
  margin-left: 6px !important; }

.mb-6 {
  margin-bottom: 6px !important; }

.pt-6 {
  padding-top: 6px !important; }

.pr-6 {
  padding-right: 6px !important; }

.pl-6 {
  padding-left: 6px !important; }

.pb-6 {
  padding-bottom: 6px !important; }

.lh-7 {
  line-height: 7px !important; }

.mt-7 {
  margin-top: 7px !important; }

.mr-7 {
  margin-right: 7px !important; }

.ml-7 {
  margin-left: 7px !important; }

.mb-7 {
  margin-bottom: 7px !important; }

.pt-7 {
  padding-top: 7px !important; }

.pr-7 {
  padding-right: 7px !important; }

.pl-7 {
  padding-left: 7px !important; }

.pb-7 {
  padding-bottom: 7px !important; }

.lh-8 {
  line-height: 8px !important; }

.mt-8 {
  margin-top: 8px !important; }

.mr-8 {
  margin-right: 8px !important; }

.ml-8 {
  margin-left: 8px !important; }

.mb-8 {
  margin-bottom: 8px !important; }

.pt-8 {
  padding-top: 8px !important; }

.pr-8 {
  padding-right: 8px !important; }

.pl-8 {
  padding-left: 8px !important; }

.pb-8 {
  padding-bottom: 8px !important; }

.lh-9 {
  line-height: 9px !important; }

.mt-9 {
  margin-top: 9px !important; }

.mr-9 {
  margin-right: 9px !important; }

.ml-9 {
  margin-left: 9px !important; }

.mb-9 {
  margin-bottom: 9px !important; }

.pt-9 {
  padding-top: 9px !important; }

.pr-9 {
  padding-right: 9px !important; }

.pl-9 {
  padding-left: 9px !important; }

.pb-9 {
  padding-bottom: 9px !important; }

.lh-10 {
  line-height: 10px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.lh-11 {
  line-height: 11px !important; }

.mt-11 {
  margin-top: 11px !important; }

.mr-11 {
  margin-right: 11px !important; }

.ml-11 {
  margin-left: 11px !important; }

.mb-11 {
  margin-bottom: 11px !important; }

.pt-11 {
  padding-top: 11px !important; }

.pr-11 {
  padding-right: 11px !important; }

.pl-11 {
  padding-left: 11px !important; }

.pb-11 {
  padding-bottom: 11px !important; }

.lh-12 {
  line-height: 12px !important; }

.mt-12 {
  margin-top: 12px !important; }

.mr-12 {
  margin-right: 12px !important; }

.ml-12 {
  margin-left: 12px !important; }

.mb-12 {
  margin-bottom: 12px !important; }

.pt-12 {
  padding-top: 12px !important; }

.pr-12 {
  padding-right: 12px !important; }

.pl-12 {
  padding-left: 12px !important; }

.pb-12 {
  padding-bottom: 12px !important; }

.lh-13 {
  line-height: 13px !important; }

.mt-13 {
  margin-top: 13px !important; }

.mr-13 {
  margin-right: 13px !important; }

.ml-13 {
  margin-left: 13px !important; }

.mb-13 {
  margin-bottom: 13px !important; }

.pt-13 {
  padding-top: 13px !important; }

.pr-13 {
  padding-right: 13px !important; }

.pl-13 {
  padding-left: 13px !important; }

.pb-13 {
  padding-bottom: 13px !important; }

.lh-14 {
  line-height: 14px !important; }

.mt-14 {
  margin-top: 14px !important; }

.mr-14 {
  margin-right: 14px !important; }

.ml-14 {
  margin-left: 14px !important; }

.mb-14 {
  margin-bottom: 14px !important; }

.pt-14 {
  padding-top: 14px !important; }

.pr-14 {
  padding-right: 14px !important; }

.pl-14 {
  padding-left: 14px !important; }

.pb-14 {
  padding-bottom: 14px !important; }

.lh-15 {
  line-height: 15px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.lh-16 {
  line-height: 16px !important; }

.mt-16 {
  margin-top: 16px !important; }

.mr-16 {
  margin-right: 16px !important; }

.ml-16 {
  margin-left: 16px !important; }

.mb-16 {
  margin-bottom: 16px !important; }

.pt-16 {
  padding-top: 16px !important; }

.pr-16 {
  padding-right: 16px !important; }

.pl-16 {
  padding-left: 16px !important; }

.pb-16 {
  padding-bottom: 16px !important; }

.lh-17 {
  line-height: 17px !important; }

.mt-17 {
  margin-top: 17px !important; }

.mr-17 {
  margin-right: 17px !important; }

.ml-17 {
  margin-left: 17px !important; }

.mb-17 {
  margin-bottom: 17px !important; }

.pt-17 {
  padding-top: 17px !important; }

.pr-17 {
  padding-right: 17px !important; }

.pl-17 {
  padding-left: 17px !important; }

.pb-17 {
  padding-bottom: 17px !important; }

.lh-18 {
  line-height: 18px !important; }

.mt-18 {
  margin-top: 18px !important; }

.mr-18 {
  margin-right: 18px !important; }

.ml-18 {
  margin-left: 18px !important; }

.mb-18 {
  margin-bottom: 18px !important; }

.pt-18 {
  padding-top: 18px !important; }

.pr-18 {
  padding-right: 18px !important; }

.pl-18 {
  padding-left: 18px !important; }

.pb-18 {
  padding-bottom: 18px !important; }

.lh-19 {
  line-height: 19px !important; }

.mt-19 {
  margin-top: 19px !important; }

.mr-19 {
  margin-right: 19px !important; }

.ml-19 {
  margin-left: 19px !important; }

.mb-19 {
  margin-bottom: 19px !important; }

.pt-19 {
  padding-top: 19px !important; }

.pr-19 {
  padding-right: 19px !important; }

.pl-19 {
  padding-left: 19px !important; }

.pb-19 {
  padding-bottom: 19px !important; }

.lh-20 {
  line-height: 20px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.lh-21 {
  line-height: 21px !important; }

.mt-21 {
  margin-top: 21px !important; }

.mr-21 {
  margin-right: 21px !important; }

.ml-21 {
  margin-left: 21px !important; }

.mb-21 {
  margin-bottom: 21px !important; }

.pt-21 {
  padding-top: 21px !important; }

.pr-21 {
  padding-right: 21px !important; }

.pl-21 {
  padding-left: 21px !important; }

.pb-21 {
  padding-bottom: 21px !important; }

.lh-22 {
  line-height: 22px !important; }

.mt-22 {
  margin-top: 22px !important; }

.mr-22 {
  margin-right: 22px !important; }

.ml-22 {
  margin-left: 22px !important; }

.mb-22 {
  margin-bottom: 22px !important; }

.pt-22 {
  padding-top: 22px !important; }

.pr-22 {
  padding-right: 22px !important; }

.pl-22 {
  padding-left: 22px !important; }

.pb-22 {
  padding-bottom: 22px !important; }

.lh-23 {
  line-height: 23px !important; }

.mt-23 {
  margin-top: 23px !important; }

.mr-23 {
  margin-right: 23px !important; }

.ml-23 {
  margin-left: 23px !important; }

.mb-23 {
  margin-bottom: 23px !important; }

.pt-23 {
  padding-top: 23px !important; }

.pr-23 {
  padding-right: 23px !important; }

.pl-23 {
  padding-left: 23px !important; }

.pb-23 {
  padding-bottom: 23px !important; }

.lh-24 {
  line-height: 24px !important; }

.mt-24 {
  margin-top: 24px !important; }

.mr-24 {
  margin-right: 24px !important; }

.ml-24 {
  margin-left: 24px !important; }

.mb-24 {
  margin-bottom: 24px !important; }

.pt-24 {
  padding-top: 24px !important; }

.pr-24 {
  padding-right: 24px !important; }

.pl-24 {
  padding-left: 24px !important; }

.pb-24 {
  padding-bottom: 24px !important; }

.lh-25 {
  line-height: 25px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.lh-26 {
  line-height: 26px !important; }

.mt-26 {
  margin-top: 26px !important; }

.mr-26 {
  margin-right: 26px !important; }

.ml-26 {
  margin-left: 26px !important; }

.mb-26 {
  margin-bottom: 26px !important; }

.pt-26 {
  padding-top: 26px !important; }

.pr-26 {
  padding-right: 26px !important; }

.pl-26 {
  padding-left: 26px !important; }

.pb-26 {
  padding-bottom: 26px !important; }

.lh-27 {
  line-height: 27px !important; }

.mt-27 {
  margin-top: 27px !important; }

.mr-27 {
  margin-right: 27px !important; }

.ml-27 {
  margin-left: 27px !important; }

.mb-27 {
  margin-bottom: 27px !important; }

.pt-27 {
  padding-top: 27px !important; }

.pr-27 {
  padding-right: 27px !important; }

.pl-27 {
  padding-left: 27px !important; }

.pb-27 {
  padding-bottom: 27px !important; }

.lh-28 {
  line-height: 28px !important; }

.mt-28 {
  margin-top: 28px !important; }

.mr-28 {
  margin-right: 28px !important; }

.ml-28 {
  margin-left: 28px !important; }

.mb-28 {
  margin-bottom: 28px !important; }

.pt-28 {
  padding-top: 28px !important; }

.pr-28 {
  padding-right: 28px !important; }

.pl-28 {
  padding-left: 28px !important; }

.pb-28 {
  padding-bottom: 28px !important; }

.lh-29 {
  line-height: 29px !important; }

.mt-29 {
  margin-top: 29px !important; }

.mr-29 {
  margin-right: 29px !important; }

.ml-29 {
  margin-left: 29px !important; }

.mb-29 {
  margin-bottom: 29px !important; }

.pt-29 {
  padding-top: 29px !important; }

.pr-29 {
  padding-right: 29px !important; }

.pl-29 {
  padding-left: 29px !important; }

.pb-29 {
  padding-bottom: 29px !important; }

.lh-30 {
  line-height: 30px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.lh-31 {
  line-height: 31px !important; }

.mt-31 {
  margin-top: 31px !important; }

.mr-31 {
  margin-right: 31px !important; }

.ml-31 {
  margin-left: 31px !important; }

.mb-31 {
  margin-bottom: 31px !important; }

.pt-31 {
  padding-top: 31px !important; }

.pr-31 {
  padding-right: 31px !important; }

.pl-31 {
  padding-left: 31px !important; }

.pb-31 {
  padding-bottom: 31px !important; }

.lh-32 {
  line-height: 32px !important; }

.mt-32 {
  margin-top: 32px !important; }

.mr-32 {
  margin-right: 32px !important; }

.ml-32 {
  margin-left: 32px !important; }

.mb-32 {
  margin-bottom: 32px !important; }

.pt-32 {
  padding-top: 32px !important; }

.pr-32 {
  padding-right: 32px !important; }

.pl-32 {
  padding-left: 32px !important; }

.pb-32 {
  padding-bottom: 32px !important; }

.lh-33 {
  line-height: 33px !important; }

.mt-33 {
  margin-top: 33px !important; }

.mr-33 {
  margin-right: 33px !important; }

.ml-33 {
  margin-left: 33px !important; }

.mb-33 {
  margin-bottom: 33px !important; }

.pt-33 {
  padding-top: 33px !important; }

.pr-33 {
  padding-right: 33px !important; }

.pl-33 {
  padding-left: 33px !important; }

.pb-33 {
  padding-bottom: 33px !important; }

.lh-34 {
  line-height: 34px !important; }

.mt-34 {
  margin-top: 34px !important; }

.mr-34 {
  margin-right: 34px !important; }

.ml-34 {
  margin-left: 34px !important; }

.mb-34 {
  margin-bottom: 34px !important; }

.pt-34 {
  padding-top: 34px !important; }

.pr-34 {
  padding-right: 34px !important; }

.pl-34 {
  padding-left: 34px !important; }

.pb-34 {
  padding-bottom: 34px !important; }

.lh-35 {
  line-height: 35px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.lh-36 {
  line-height: 36px !important; }

.mt-36 {
  margin-top: 36px !important; }

.mr-36 {
  margin-right: 36px !important; }

.ml-36 {
  margin-left: 36px !important; }

.mb-36 {
  margin-bottom: 36px !important; }

.pt-36 {
  padding-top: 36px !important; }

.pr-36 {
  padding-right: 36px !important; }

.pl-36 {
  padding-left: 36px !important; }

.pb-36 {
  padding-bottom: 36px !important; }

.lh-37 {
  line-height: 37px !important; }

.mt-37 {
  margin-top: 37px !important; }

.mr-37 {
  margin-right: 37px !important; }

.ml-37 {
  margin-left: 37px !important; }

.mb-37 {
  margin-bottom: 37px !important; }

.pt-37 {
  padding-top: 37px !important; }

.pr-37 {
  padding-right: 37px !important; }

.pl-37 {
  padding-left: 37px !important; }

.pb-37 {
  padding-bottom: 37px !important; }

.lh-38 {
  line-height: 38px !important; }

.mt-38 {
  margin-top: 38px !important; }

.mr-38 {
  margin-right: 38px !important; }

.ml-38 {
  margin-left: 38px !important; }

.mb-38 {
  margin-bottom: 38px !important; }

.pt-38 {
  padding-top: 38px !important; }

.pr-38 {
  padding-right: 38px !important; }

.pl-38 {
  padding-left: 38px !important; }

.pb-38 {
  padding-bottom: 38px !important; }

.lh-39 {
  line-height: 39px !important; }

.mt-39 {
  margin-top: 39px !important; }

.mr-39 {
  margin-right: 39px !important; }

.ml-39 {
  margin-left: 39px !important; }

.mb-39 {
  margin-bottom: 39px !important; }

.pt-39 {
  padding-top: 39px !important; }

.pr-39 {
  padding-right: 39px !important; }

.pl-39 {
  padding-left: 39px !important; }

.pb-39 {
  padding-bottom: 39px !important; }

.lh-40 {
  line-height: 40px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.lh-41 {
  line-height: 41px !important; }

.mt-41 {
  margin-top: 41px !important; }

.mr-41 {
  margin-right: 41px !important; }

.ml-41 {
  margin-left: 41px !important; }

.mb-41 {
  margin-bottom: 41px !important; }

.pt-41 {
  padding-top: 41px !important; }

.pr-41 {
  padding-right: 41px !important; }

.pl-41 {
  padding-left: 41px !important; }

.pb-41 {
  padding-bottom: 41px !important; }

.lh-42 {
  line-height: 42px !important; }

.mt-42 {
  margin-top: 42px !important; }

.mr-42 {
  margin-right: 42px !important; }

.ml-42 {
  margin-left: 42px !important; }

.mb-42 {
  margin-bottom: 42px !important; }

.pt-42 {
  padding-top: 42px !important; }

.pr-42 {
  padding-right: 42px !important; }

.pl-42 {
  padding-left: 42px !important; }

.pb-42 {
  padding-bottom: 42px !important; }

.lh-43 {
  line-height: 43px !important; }

.mt-43 {
  margin-top: 43px !important; }

.mr-43 {
  margin-right: 43px !important; }

.ml-43 {
  margin-left: 43px !important; }

.mb-43 {
  margin-bottom: 43px !important; }

.pt-43 {
  padding-top: 43px !important; }

.pr-43 {
  padding-right: 43px !important; }

.pl-43 {
  padding-left: 43px !important; }

.pb-43 {
  padding-bottom: 43px !important; }

.lh-44 {
  line-height: 44px !important; }

.mt-44 {
  margin-top: 44px !important; }

.mr-44 {
  margin-right: 44px !important; }

.ml-44 {
  margin-left: 44px !important; }

.mb-44 {
  margin-bottom: 44px !important; }

.pt-44 {
  padding-top: 44px !important; }

.pr-44 {
  padding-right: 44px !important; }

.pl-44 {
  padding-left: 44px !important; }

.pb-44 {
  padding-bottom: 44px !important; }

.lh-45 {
  line-height: 45px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pr-45 {
  padding-right: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.lh-46 {
  line-height: 46px !important; }

.mt-46 {
  margin-top: 46px !important; }

.mr-46 {
  margin-right: 46px !important; }

.ml-46 {
  margin-left: 46px !important; }

.mb-46 {
  margin-bottom: 46px !important; }

.pt-46 {
  padding-top: 46px !important; }

.pr-46 {
  padding-right: 46px !important; }

.pl-46 {
  padding-left: 46px !important; }

.pb-46 {
  padding-bottom: 46px !important; }

.lh-47 {
  line-height: 47px !important; }

.mt-47 {
  margin-top: 47px !important; }

.mr-47 {
  margin-right: 47px !important; }

.ml-47 {
  margin-left: 47px !important; }

.mb-47 {
  margin-bottom: 47px !important; }

.pt-47 {
  padding-top: 47px !important; }

.pr-47 {
  padding-right: 47px !important; }

.pl-47 {
  padding-left: 47px !important; }

.pb-47 {
  padding-bottom: 47px !important; }

.lh-48 {
  line-height: 48px !important; }

.mt-48 {
  margin-top: 48px !important; }

.mr-48 {
  margin-right: 48px !important; }

.ml-48 {
  margin-left: 48px !important; }

.mb-48 {
  margin-bottom: 48px !important; }

.pt-48 {
  padding-top: 48px !important; }

.pr-48 {
  padding-right: 48px !important; }

.pl-48 {
  padding-left: 48px !important; }

.pb-48 {
  padding-bottom: 48px !important; }

.lh-49 {
  line-height: 49px !important; }

.mt-49 {
  margin-top: 49px !important; }

.mr-49 {
  margin-right: 49px !important; }

.ml-49 {
  margin-left: 49px !important; }

.mb-49 {
  margin-bottom: 49px !important; }

.pt-49 {
  padding-top: 49px !important; }

.pr-49 {
  padding-right: 49px !important; }

.pl-49 {
  padding-left: 49px !important; }

.pb-49 {
  padding-bottom: 49px !important; }

.lh-50 {
  line-height: 50px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

/*end spacing*/
.btn-phone img {
  width: 58px; }

.bg-blue {
  background-color: #005bac; }

.text-blue {
  color: #005bac; }

.text-white {
  color: #fff; }

.text-bold {
  font-weight: 600; }

body {
  background: #ffffff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif, "Alegreya SC", serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
  -webkit-text-size-adjust: none;
  word-break: break-all;
  overflow-x: hidden; }

.custom-table-header {
  padding-left: 14px;
  padding-right: 14px;
  height: 41px;
  line-height: 41px;
  font-size: 15px; }

.custom-table-row {
  min-height: 32px;
  display: flex; }

.custom-table-th {
  background-color: #f0f0f0;
  width: 120px;
  font-size: 13px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  padding: 6.5px 14px;
  border-bottom: 1px solid #d1d1d1; }

.custom-table-td {
  width: 100%;
  flex: 1;
  font-size: 13px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  padding: 6.5px 14px;
  border-bottom: 1px solid #d1d1d1; }
  .custom-table-td .btn-phone img {
    width: 62px; }

.custom-table-type-2 .custom-table-header {
  height: 30px;
  line-height: 30px;
  font-size: 13px; }

.custom-table-type-2 .custom-table-row {
  min-height: 33px; }
  .custom-table-type-2 .custom-table-row.max {
    min-height: 37px; }

.custom-table-type-2 .custom-table-th {
  width: 80px; }

.custom-table-type-2 .custom-table-td {
  padding-right: 8px;
  background-color: #fff; }

.row-info {
  display: flex;
  min-height: 30px;
  border-bottom: 1px solid #cdcdcd; }
  .row-info-left, .row-info-right {
    padding-top: 7.5px;
    padding-bottom: 4.5px; }
  .row-info-left {
    font-size: 13px;
    min-width: 100px;
    padding-left: 10px;
    display: flex;
    align-items: center; }
  .row-info-right {
    font-size: 13px;
    font-size: 13px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    line-height: 1.5;
    text-align: right;
    justify-content: flex-end; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  border-bottom: 1px solid #e9e9e9;
  padding: 7px 9px 7px 11px; }
  header .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    header .menu img {
      width: 27px; }
    header .menu span {
      font-size: 10px;
      font-weight: 500;
      padding-top: 2px;
      margin-left: -2px; }
  header .logo img {
    width: 180px; }
  header .close img {
    width: 33px; }

.c-breadcrumb {
  height: 38px;
  padding-left: 13px;
  padding-right: 13px;
  border-bottom: 1px solid #e9e9e9; }
  .c-breadcrumb h1 {
    font-size: 16px;
    line-height: 40px;
    color: #005bac; }

.contact {
  padding: 14px 15px; }
  .contact .card {
    margin-bottom: 10px;
    border: none; }
    .contact .card:last-child {
      margin-bottom: 0; }
    .contact .card-header {
      border-bottom: 0;
      background-color: #005bac;
      padding: 15px 0;
      min-height: 90px;
      border-radius: 0; }
      .contact .card-header a {
        color: #fff; }
    .contact .card-body {
      border: 1px solid #dadada;
      border-top-width: 0;
      padding: 0; }
      .contact .card-body-item {
        padding: 13px 15px 15px;
        border-bottom: 1px solid #dbdbdb; }
        .contact .card-body-item:last-child {
          border-bottom: 0; }
        .contact .card-body-item-header {
          font-size: 16px;
          color: #222222;
          margin-bottom: 8px; }
        .contact .card-body-item-info {
          margin-bottom: 4px; }
          .contact .card-body-item-info span {
            display: inline-block;
            line-height: 20px;
            color: #222222; }
            .contact .card-body-item-info span:first-child {
              width: 59px;
              height: 20px;
              background-color: #005bac;
              color: #fff;
              text-align: center;
              margin-right: 5px;
              font-size: 12px; }
            .contact .card-body-item-info span:last-child {
              font-size: 13px; }
          .contact .card-body-item-info:last-child {
            margin-bottom: 0; }
    .contact .card-link {
      display: flex;
      align-items: center;
      height: 100%; }
      .contact .card-link-left {
        width: 85px;
        text-align: center; }
        .contact .card-link-left img {
          width: 45px; }
      .contact .card-link-center {
        width: 100%;
        flex: 1; }
        .contact .card-link-center p {
          color: #fff; }
          .contact .card-link-center p:first-child {
            font-size: 16px;
            margin-bottom: 3px;
            padding-top: 1px; }
          .contact .card-link-center p:last-child {
            font-size: 11px;
            line-height: 16px; }
      .contact .card-link-right {
        width: 31px;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .contact .card-link-right img {
          width: 17px; }
        .contact .card-link-right span {
          position: absolute;
          width: 100%;
          height: 2px;
          width: 17px;
          background-color: #fff;
          display: inline-block;
          transition: all .3s;
          box-sizing: border-box; }
          .contact .card-link-right span:first-child {
            display: none; }
          .contact .card-link-right span:last-child {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg); }
      .contact .card-link.collapsed .card-link-right span:first-child {
        display: block;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg); }
      .contact .card-link.collapsed .card-link-right span:last-child {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg); }

.terms {
  padding: 15px; }
  .terms p {
    font-size: 13px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 0;
    text-indent: 12px; }

.mg-b6 {
  margin-bottom: 6px; }

.mg-b9 {
  margin-bottom: 9px; }

.mg-b10 {
  margin-bottom: 10px; }

.mg-b15 {
  margin-bottom: 15px; }

.mg-b28 {
  margin-bottom: 28px; }

.mg-b20 {
  margin-bottom: 20px; }

.mg-b25 {
  margin-bottom: 25px; }

.mt-3 {
  margin-top: 5px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-6 {
  margin-top: 6px !important; }

.mt-16 {
  margin-top: 16px; }

.mt-24 {
  margin-top: 24px; }

.ml-10 {
  margin-left: 10px; }

.ml-13 {
  margin-left: 13px; }

.pd-t25 {
  padding-top: 25px; }

.pd-b15 {
  padding-bottom: 15px; }

.pd16 {
  padding: 16px !important; }

.pd13 {
  padding: 13px !important; }

.pd12 {
  padding: 12px !important; }

.text-center {
  text-align: center; }

.bg-green {
  background-color: #37b52a; }

.bg-yellow {
  background-color: #ffb400; }

.text-green {
  color: #37b52a; }

.text-yellow {
  color: #ffb400; }

.text-bold {
  font-weight: 600; }

.font12 {
  font-size: 12px !important; }

.font13 {
  font-size: 13px !important; }

.row-info.row-info-boder0 {
  border-bottom: 0; }

.border-top {
  border-top: 1px solid #d1d1d1 !important; }

.border-bottom {
  border-bottom: 1px solid #d1d1d1 !important; }

.text-flex-start {
  display: flex;
  align-items: flex-start; }

.custom-table-header2 {
  padding-left: 13px;
  padding-right: 13px;
  height: 30px;
  line-height: 30px;
  font-size: 13px; }

.btn-layout {
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 14px;
  border-radius: 45px; }
  .btn-layout.btn2 {
    padding-top: 14px;
    padding-bottom: 10px; }
  .btn-layout p, .btn-layout span {
    font-size: 15px; }
  .btn-layout p {
    margin: 0;
    padding: 0;
    line-height: 1.35; }
  .btn-layout .feature {
    background-color: #fefefe;
    margin-right: 5px;
    padding: 1px 4px; }
  .btn-layout .text-content {
    display: flex;
    width: 100%;
    max-width: 250px;
    margin: auto; }
    .btn-layout .text-content.min {
      max-width: 208px; }
  .btn-layout .btn-left {
    width: 54px; }
  .btn-layout .btn-right {
    width: calc(100% - 54px); }
  .btn-layout .block-icon {
    display: flex;
    justify-content: center;
    align-items: center; }
  .btn-layout .more_link {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: -9999px;
    z-index: 1000; }
  .btn-layout .icon-call {
    margin-left: auto; }
  .btn-layout .icon-call:before {
    content: "";
    width: 45px;
    height: 45px;
    background-image: url(./../images/icon/icon_tel_call-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block; }

.btn-call-full {
  text-align: center;
  margin: 0 auto; }
  .btn-call-full a {
    width: 100%;
    background-color: #37b52a;
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 9px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .btn-call-full a:before {
    content: "";
    width: 32px;
    height: 41px;
    margin-right: 8px;
    background-image: url(./../images/icon/icon_tel_call-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block; }

.btn-tab-full {
  text-align: center;
  margin: 0 auto; }
  .btn-tab-full a {
    width: 100%;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    padding: 2px 7px 1px 14px;
    border-radius: 6px;
    border: 1px #d4d4d4 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse; }
  .btn-tab-full a:after {
    content: "";
    width: 14px;
    height: 40px;
    background-image: url(./../images/icon/icon_arow_right-gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block; }

.img-banner-feature img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1000px; }

.tire-glass-support .table-row-phone, .coating .table-row-phone {
  min-height: unset !important; }
  .tire-glass-support .table-row-phone p, .coating .table-row-phone p {
    margin-bottom: 20px; }

.tire-glass-support .inner {
  padding: 25px 15px; }

.coating .inner {
  padding: 0 15px 25px; }

th.phone, td.phone, .custom-table-td.phone {
  width: auto;
  display: flex;
  /*justify-content: center;
		align-items: center;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse; }
  th.phone a img, td.phone a img, .custom-table-td.phone a img {
    margin: 3px 0px 5px; }

/*insurance*/
.row-flex-start .custom-table-th, .row-flex-start .custom-table-td {
  align-items: flex-start; }

.row-br {
  line-height: 1.35em; }

.insurance .inner {
  padding: 20px 15px 6px; }

.table-grid {
  display: flex; }
  .table-grid .grid-item2 {
    width: 100%; }

.table-th-bgdark th {
  background-color: #f0f0f0; }

.table-td-bgdark td {
  background-color: #f0f0f0; }

.information-table {
  width: 100%; }
  .information-table tr {
    border-bottom: 1px #d1d1d1 solid; }
  .information-table th, .information-table td {
    font-size: 13px;
    line-height: 1.5em;
    /*font-weight: initial;*/
    padding: 8px 14px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .information-table th {
    width: 120px;
    /*width: 32%;
		min-width: 120px;*/ }
  .information-table td {
    width: calc(100% - 120px);
    /*width: calc(100% - 32%);*/ }

.mycar th, .mycar td {
  font-weight: initial; }

.service_support .inner {
  padding: 19px 15px 25px; }

.service_support .title h2 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  color: #222222; }
